In [2]:
CREATE DATABASE buku_riyan_darmawan;

In [3]:
USE buku_riyan_darmawan;

In [22]:
CREATE TABLE distributor (
    id_distributor INT PRIMARY KEY,
    nama_distributor VARCHAR(50),
    alamat TEXT,
    telepon VARCHAR(13)
);

CREATE TABLE buku (
    id_buku INT PRIMARY KEY,
    judul VARCHAR(255),
    no_isbn INT(13),
    penulis VARCHAR(35),
    penerbit VARCHAR(50),
    tahun YEAR,
    stok INT,
    harga_produk INT,
    harga_jual INT,
    ppn FLOAT,
    diskon FLOAT
);

CREATE TABLE kasir (
    id_kasir INT PRIMARY KEY,
    nama VARCHAR(35),
    alamat TEXT,
    telepon VARCHAR(13),
    status ENUM('online', 'offline'),
    username VARCHAR(30),
    password VARCHAR(30),
    akses ENUM('admin')
);

CREATE TABLE pasok (
    id_pasok INT PRIMARY KEY,
    id_distributor INT,
    id_buku INT,
    jumlah INT,
    tanggal DATE,
    FOREIGN KEY (id_distributor) REFERENCES distributor (id_distributor) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (id_buku) REFERENCES buku (id_buku) ON UPDATE CASCADE ON DELETE CASCADE
);

CREATE TABLE penjualan (
    id_penjualan INT PRIMARY KEY,
    id_buku INT,
    id_kasir INT,
    jumlah INT,
    total INT,
    tanggal DATE,
    FOREIGN KEY (id_buku) REFERENCES buku (id_buku) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (id_kasir) REFERENCES kasir (id_kasir) ON UPDATE CASCADE ON DELETE CASCADE
)

In [23]:
DESC distributor;
DESC buku;
DESC kasir;
DESC pasok;
DESC penjualan;

Field,Type,Null,Key,Default,Extra
id_distributor,int(11),NO,PRI,NULL,
nama_distributor,varchar(50),YES,,NULL,
alamat,text,YES,,NULL,
telepon,varchar(13),YES,,NULL,

Field,Type,Null,Key,Default,Extra
id_buku,int(11),NO,PRI,NULL,
judul,varchar(255),YES,,NULL,
no_isbn,int(13),YES,,NULL,
penulis,varchar(35),YES,,NULL,
penerbit,varchar(50),YES,,NULL,
tahun,year(4),YES,,NULL,
stok,int(11),YES,,NULL,
harga_produk,int(11),YES,,NULL,
harga_jual,int(11),YES,,NULL,
ppn,float,YES,,NULL,
diskon,float,YES,,NULL,

Field,Type,Null,Key,Default,Extra
id_kasir,int(11),NO,PRI,NULL,
nama,varchar(35),YES,,NULL,
alamat,text,YES,,NULL,
telepon,varchar(13),YES,,NULL,
status,"enum('online','offline')",YES,,NULL,
username,varchar(30),YES,,NULL,
password,varchar(30),YES,,NULL,
akses,enum('admin'),YES,,NULL,

Field,Type,Null,Key,Default,Extra
id_pasok,int(11),NO,PRI,NULL,
id_distributor,int(11),YES,MUL,NULL,
id_buku,int(11),YES,MUL,NULL,
jumlah,int(11),YES,,NULL,
tanggal,date,YES,,NULL,

Field,Type,Null,Key,Default,Extra
id_penjualan,int(11),NO,PRI,NULL,
id_buku,int(11),YES,MUL,NULL,
id_kasir,int(11),YES,MUL,NULL,
jumlah,int(11),YES,,NULL,
total,int(11),YES,,NULL,
tanggal,date,YES,,NULL,

In [24]:
ALTER TABLE kasir MODIFY COLUMN akses enum('admin', 'kasir');