In [1]:
CREATE DATABASE buku_riyan_darmawan;

In [2]:
USE buku_riyan_darmawan;

In [8]:
CREATE TABLE distributor (
    id_distributor INT PRIMARY KEY AUTO_INCREMENT,
    nama_distributor VARCHAR(50),
    alamat TEXT,
    telepon VARCHAR(13)
);

CREATE TABLE buku (
    id_buku INT PRIMARY KEY AUTO_INCREMENT,
    judul VARCHAR(255),
    no_isbn INT(13),
    penulis VARCHAR(35),
    penerbit VARCHAR(50),
    tahun YEAR,
    stok INT,
    harga_produk INT,
    harga_jual INT,
    ppn FLOAT,
    diskon FLOAT
);

CREATE TABLE kasir (
    id_kasir INT PRIMARY KEY AUTO_INCREMENT,
    nama VARCHAR(35),
    alamat TEXT,
    telepon VARCHAR(13),
    status ENUM('online', 'offline'),
    username VARCHAR(30),
    password VARCHAR(30),
    akses ENUM('admin', 'kasir')
);

CREATE TABLE pasok (
    id_pasok INT PRIMARY KEY AUTO_INCREMENT,
    id_distributor INT,
    id_buku INT,
    jumlah INT,
    tanggal DATE,
    FOREIGN KEY (id_distributor) REFERENCES distributor (id_distributor) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (id_buku) REFERENCES buku (id_buku) ON UPDATE CASCADE ON DELETE CASCADE
);

CREATE TABLE penjualan (
    id_penjualan INT PRIMARY KEY AUTO_INCREMENT,
    id_buku INT,
    id_kasir INT,
    jumlah INT,
    total INT,
    tanggal DATE,
    FOREIGN KEY (id_buku) REFERENCES buku (id_buku) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (id_kasir) REFERENCES kasir (id_kasir) ON UPDATE CASCADE ON DELETE CASCADE
)

In [9]:
DESC distributor;
DESC buku;
DESC kasir;
DESC pasok;
DESC penjualan;

Field,Type,Null,Key,Default,Extra
id_distributor,b'int',NO,PRI,NULL,auto_increment
nama_distributor,b'varchar(50)',YES,,NULL,
alamat,b'text',YES,,NULL,
telepon,b'varchar(13)',YES,,NULL,

Field,Type,Null,Key,Default,Extra
id_buku,b'int',NO,PRI,NULL,auto_increment
judul,b'varchar(255)',YES,,NULL,
no_isbn,b'int',YES,,NULL,
penulis,b'varchar(35)',YES,,NULL,
penerbit,b'varchar(50)',YES,,NULL,
tahun,b'year',YES,,NULL,
stok,b'int',YES,,NULL,
harga_produk,b'int',YES,,NULL,
harga_jual,b'int',YES,,NULL,
ppn,b'float',YES,,NULL,
diskon,b'float',YES,,NULL,

Field,Type,Null,Key,Default,Extra
id_kasir,b'int',NO,PRI,NULL,auto_increment
nama,b'varchar(35)',YES,,NULL,
alamat,b'text',YES,,NULL,
telepon,b'varchar(13)',YES,,NULL,
status,"b""enum('online','offline')""",YES,,NULL,
username,b'varchar(30)',YES,,NULL,
password,b'varchar(30)',YES,,NULL,
akses,"b""enum('admin','kasir')""",YES,,NULL,

Field,Type,Null,Key,Default,Extra
id_pasok,b'int',NO,PRI,NULL,auto_increment
id_distributor,b'int',YES,MUL,NULL,
id_buku,b'int',YES,MUL,NULL,
jumlah,b'int',YES,,NULL,
tanggal,b'date',YES,,NULL,

Field,Type,Null,Key,Default,Extra
id_penjualan,b'int',NO,PRI,NULL,auto_increment
id_buku,b'int',YES,MUL,NULL,
id_kasir,b'int',YES,MUL,NULL,
jumlah,b'int',YES,,NULL,
total,b'int',YES,,NULL,
tanggal,b'date',YES,,NULL,

In [9]:
SELECT * FROM kasir;

id_kasir,nama,alamat,telepon,status,username,password,akses
1,,,,NULL,,,NULL
2,Riyan Darmawan,Kp. jalan buntu no. 12,0876564321,NULL,riyandarmawan,nobody said it was easy,NULL
3,Riyan Darmawan,Kp. jalan buntu no. 12,0876564321,NULL,riyandarmawan,nobody said it was easy,NULL
4,,,,NULL,haaland,$2y$10$keBFjSj9x1pN3u1EEApS6umj6Xdo8EXxIzMx8g5lvpLvNa3VMELU6,NULL
5,,,18765432,NULL,haaland,$2y$10$hWE33pZ2qDojwlyPBA.Gne7VJCJdq.O/xiGmTG4yAlhS1qAKrMtuO,NULL
6,,,123,NULL,haaland,$2y$10$iOPzIKpgOcOU.2jHINAyfeg.ZvJMHDDd2hGT8U6eeZxf3n.2ANJMa,NULL
7,1,1,1,NULL,1,$2y$10$I/ObClJw5T..fqxqa4StEuy5b8MResmWHkdr4Isb/dHlvzQkrztq2,NULL
8,,,,NULL,haaland,$2y$10$76L55LRPrdNea5uRvtVb3O4.3vBec5q/jrN7g4cYRyeNd6aDqtkxm,kasir

In [4]:
ALTER TABLE kasir MODIFY COLUMN password VARCHAR(60);